
body{	
	background-image: url(../images/turtle2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  	background-size: cover;
  	font-family: 'PT Sans';
	background-attachment: fixed;
	min-height: 100%
	-webkit-text-size-adjust: none;
  	overflow-x: hidden;
}

div{
	padding: 20px;
	color: lightgreen;
}

.container{
		
	
}

#name{
	text-align: center;
	font-size: 32px;
	border: none;
	padding: 10px;
	color: turquoise;
}

#title1{
	text-align: center;
	font-size: 25px;
	border: none;
	padding: 10px;
	color: lightblue;
}

.aboutmestuff{
	border: 2px solid black;
	padding: 10px;
	font-size: 18px;
	color: white;
	
}



.heading{
	font-size: 25px;
	color: gold;
	text-align: left;
}

.aboutmeparagraphs{
	border: 5px solid black;
	margin: 5px;
	background-color: black;
	opacity: 0.5;
	border-radius: 15px;
}

.list-group-item{
	margin: 30px 0px 30px 0px;
	background-color: blue;
	color: turquoise;
	font-size: 20px;
}


